<div>
    <% @notes.each do |note| %>
      <div>
        <p><%= note.title %></p>
        <% if note.image_url? %>
          <%= image_tag(note.image_url.url, size: "200") %>
          <%= markdown(note.content) %>
        <% end %>  
      </div>
    <% end %>
    
</div>