<div class="container top-image">
  <div class="row">
    <h4>とっておきをシェアしよう</h4>
    <div class="main-image">
      <img src="https://image.freepik.com/free-vector/characters-people-their-social-network-illustration_53876-58967.jpg"
        width="400" height="300">
    </div>
    <p>Recommenはあなたのとっておきをシェアするサイトです。</p>
    <p>ジャンルは問いません、自分の好きな物をオススメしましょう。</p>

    <a class="waves-effect waves-light btn-large">Button</a>
  </div>
</div>


<div class="container homepage">
  <h1>test</h1>
<%= link_to 'notes', notes_path %>
<%= link_to 'new', new_note_path %>
</div>