<div class="container top-image">
  <div class="row">
    <h4>とっておきをシェアしよう</h4>
    <div class="main-image">
      <img src="https://image.freepik.com/free-vector/characters-people-their-social-network-illustration_53876-58967.jpg"
        width="400" height="300">
    </div>
    <p>Recommenはあなたのとっておきをシェアするサイトです。</p>
    <p>ジャンルは問いません、自分の好きな物をオススメしましょう。</p>

    <% if user_signed_in? %>
      <a href="/notes/new" 
        class="waves-effect waves-light btn-large btn">投稿する</a>
    <% else %>
      <a class="waves-effect waves-light btn-large btn">はじめる</a>
    <% end %>
  </div>
</div>



<div class="homepage">
  <div class="container">

<%# 人気順 %>
    <div class="row">
      <p class="favorite-text">人気の投稿</p>

      <div style="display: flex" class="col l12">
      
        <div class="recommen_card">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1587581911709-aff6e6b7af08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
            <div class="card-content">
              <span class="card-title">Flaver text</span>
              <p class="">description</p>
            </div>
          </div>
        </div>

        <div class="recommen_card">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1587581911709-aff6e6b7af08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
            <div class="card-content">
              <span class="card-title">Flaver text</span>
              <p class="">description</p>
            </div>
          </div>
        </div>

      </div>
    </div>

<%# 人気二段目 %>
    <div class="row">
      <div style="display: flex" class="col l12">
      
        <div class="recommen_card">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1587581911709-aff6e6b7af08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
            <div class="card-content">
              <span class="card-title">Flaver text</span>
              <p class="">description</p>
            </div>
          </div>
        </div>

        <div class="recommen_card">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1587581911709-aff6e6b7af08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
            <div class="card-content">
              <span class="card-title">Flaver text</span>
              <p class="">description</p>
            </div>
          </div>
        </div>

      </div>
    </div>


<%# 新着順 %>
    <p class="new-text">新しい投稿</p>

    <div class="row">
      <div class="new-card">
        <div class="card" style="display: flex">
          <div class="icon-image">
            <% if user_signed_in? %>
              <% if current_user.image? %>
                <li class="user_image"><%= image_tag(current_user.image.url, size: "40") %></li>
              <% end %>
            <% end %>
            <p><i class="samll material-icons">thumb_up</i></p>
          </div>
          <div class="card-content">
            <span class="card-title">title</span>
            <p class=''>description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="new-card">
        <div class="card" style="display: flex">
          <div class="icon-image">
            <% if user_signed_in? %>
              <% if current_user.image? %>
                <li class="user_image"><%= image_tag(current_user.image.url, size: "40") %></li>
              <% end %>
            <% end %>
            <p><i class="samll material-icons">thumb_up</i></p>
          </div>
          <div class="card-content">
            <span class="card-title">title</span>
            <p class=''>description</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="new-card">
        <div class="card" style="display: flex">
          <div class="icon-image">
            <% if user_signed_in? %>
              <% if current_user.image? %>
                <li class="user_image"><%= image_tag(current_user.image.url, size: "40") %></li>
              <% end %>
            <% end %>
            <p><i class="samll material-icons">thumb_up</i></p>
          </div>
          <div class="card-content">
            <span class="card-title">title</span>
            <p class=''>description</p>
          </div>
        </div>
      </div>
    </div>

  <br><br>
  </div>

  <div class="foot">
    <h5></h5>
  </div>
</div>