<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="sign_name">
    <p>ログイン</p>
  </div>
  <div class="user_email">
    <%= f.email_field :email, placeholder: "メールアドレス" %>
    <%= f.password_field :password, placeholder: "パスワード" %>
  </div>
  <div class="submit-btn">
    <a class="waves-effect waves-light btn-large btn-flat" style="margin-top: 30px"><%= f.submit "Sign up" %></a>
  </div>

  <% end %>
</div>