/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */
  @import 'materialize';
  $main: #454C50;
  $sub: #6E777C;
  $last: #D7E6EF;
  $text: #677284;

  $background: #F0F3F7;

  .nav-wrapper {
    background-color: $main;
    .brand-logo {
      margin-left: 100px;
    }
    .right-logo {
      margin-right: 100px;
    }
  }
  .foot {
    background-color: $sub;
    height: 100px;
    width: 100%;
  }
  .btn:hover {
    background-color: $sub
  }
  .btn:active{
    background-color: $sub;
  }
  .btn:focus{
    background-color: $sub;
  }



  .head_user_image {
    img {
      border-radius: 50%;
      margin-top: 10px;
      margin-right: 10px;
    }
    list-style: none;
  }


// ここからメインページ  
  .top-image {
    margin: 0 auto;
    text-align: center;
    h4 {
      font-family: "Hiragino Sans", "Meiryo", "sans-serif";
      font-weight: bold;
      text-align: center;
      margin-top: 100px;
    }
    p {
      font-weight: bold;
      color: $text;
    }
    a {
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: $main;
      font-family: "ヒラギノ丸ゴ ProN",sans-serif;
    }
  }
  // グレーのゾーン
  .homepage {
    background-color: $background;
    width: 100%;
    height: 1050px;
    margin: 0 auto;
    text-align: center;
    .favorite-text {
      font-family: "Hiragino Sans", "Meiryo", "sans-serif";
      font-weight: bold;
      font-size: 25px;
      padding-top: 40px;
    }
    .recommen_card {
      width: 500px;
      margin: 0 auto;
      img {
        padding-top: 20px;
        width: 400px;
      }
    }
    .new-text {
      font-family: "Hiragino Sans", "Meiryo", "sans-serif";
      font-weight: bold;
      font-size: 25px;
      padding-top: 100px;
    }

    .new-card {
      width: 700px;
      margin: 0 auto;
      p {
        text-align: left;
      }
      span {
        text-align: left;
      }
      .icon-image {
        padding: 10px;
      }
    }
    .user_image {
      img {
        border-radius: 50%;
        margin-top: 10px;
        
      }
      list-style: none;
    }
  }   


// レコメン作成ページ
  .new-page {
    text-align: center;
    p {
      font-family: "Hiragino Sans", "Meiryo", "sans-serif";
      font-weight: bold;
      font-size: 25px;
      padding-top: 40px;
    }

    .title-area {
      width: 35%;
      height: 50px;
      margin: 0 auto;

      input[type=text]:focus + label {
        color: $sub;
      }
      input[type=text]:focus {
        border-bottom: 1px solid $sub;
        box-shadow: 0 1px 0 0 $sub;
      }
    }
    .new-image {
      margin-top: 50px;
      input {
        margin-top: 20px;
        color: #9E9E9E;
        font-weight: bold;
      }
    }
    label {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .content-back {
    margin-top: 50px;
    background-color: $background;
    height: 900px;
    .content-field {
      text-align: center;
      margin: 0 auto;
      max-width: 50%;
      padding-top: 50px;
      textarea {
        height: 500px;
        font-size: 15px;
        font-weight: bold;
      }
    }
    label {
      font-size: 15px;
      font-weight: bold;
    }
    .submit-btn {
      text-align: center;
      margin-top: 50px;
      a {
        background-color: $sub;
        input {
          font-family: "ヒラギノ丸ゴ ProN",sans-serif;
          color: $background;
          font-weight: bold;
        }
      }
    }
  }

  #img_field {
    margin: 0 auto;
    padding-top: 20xp;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px 8px;
    border: solid 1px $sub;
    color: #666;
    position: relative;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.3s ease-out;
  }
  #img_field:hover {
    background-color: $background;
    transition: 0.3s ease-out;
    opacity: 0.9;
  }
  #img_field:hover i {
    transition: 0.3s ease-out;
    display: block;
    color: #fff;
  }


// 個人ページ
.user_image {
  img {
    border-radius: 50%;
  }
  list-style: none;
}
.name_img {
  margin-left: 300px;
  margin-top: 40px;
  .name_btn {
    p {
      font-family: "Hiragino Sans", "Meiryo", "sans-serif";
      font-weight: bold;
      margin-left: 30px;
      font-size: 25px;
      margin-top: 5px;
    }
    .folow_follower  {
      margin-top: -20px;
      margin-left: 30px;
    }
  }
}
.user_desc {
  margin-left: 410px;
  color: $text;
  font-family: "ヒラギノ丸ゴ ProN",sans-serif;
  margin-top: -20px;
}

.user-back {
  max-width: 100%;
  height: 800px;
  background-color: $background;
  .user-notes {
    max-width: 50%;
    margin-left: 550px;
    p {
      font-family: "Hiragino Sans", "Meiryo", "sans-serif";
      font-weight: bold;
      font-size: 25px;
      padding-top: 40px;
    }

    .user-card {
      border: 1px solid $last;
      width: 600px;
      p {
        font-family: "ヒラギノ丸ゴ ProN",sans-serif;
        font-size: 20px;
      }
      .tit {
        margin-top: -40px;
        color: $main;
      }
      .disc {
        margin-top: -50px;
        font-size: 14px;
        color: $text;
      }
    }
  }
}

// ここから詳細ページ
.show_title {
  text-align: center;
  p {
    font-family: "Hiragino Sans", "Meiryo", "sans-serif";
    font-weight: bold;
    font-size: 25px;
    margin-top: 40px;
  }
  .show_image {
    margin: 0 auto;
    width: 700px;
    height: 350px;
    img {
      width: 700px;
      height: 350px;
    }
  }
}
.note_back {
  background-color: $background;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding-bottom: 200px;
  .show_content {
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
    p {
      font-size: 16px;
      line-height: 30px;
    }

    .show_user {
      margin-top: 10px;
      border-top: 2px solid $last;
      border-bottom: 2px solid $last;
      padding-left: 10px;
      .show_user_image {
        img {
          border-radius: 50%;
          margin-top: 10px;
          margin-right: 10px;
        }
        list-style: none;
      }
      .show_user_name {
        margin-left: 10px;
        .user_namename {
          font-weight: bold;
          font-size: 20px;
          margin-bottom: -5px;
        }
        p {
          font-size: 13px;
          color: $text;
          line-height: 20px;
        }
      }
    }
  }
}
.delete_fav {
  margin-top: 100px;
  margin-bottom: -10px;
  display: flex;
  .note_fav {
    line-height: 58px;
    padding-top: 5px;
  }
  .note_delete {
    margin-left: 30px;
    p {
      background-color: $sub;
      font-family: "Hiragino Sans", "Meiryo", "sans-serif";
      font-size: 13px;
      padding-top: 1px;
    }
  }
}


// ユーザー新規登録ページ
.sign_name {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  p {
    font-family: "Hiragino Sans", "Meiryo", "sans-serif";
    font-weight: bold;
    font-size: 25px;
    padding-top: 40px;
  }
  input[type=text]:focus + label {
    color: $sub;
  }
  input[type=text]:focus {
    border-bottom: 1px solid $sub;
    box-shadow: 0 1px 0 0 $sub;
  }

}
.user_samune {
  width: 500px;
  margin-left: 340px;
  margin-top: 20px;
  label {
    font-size: 20px;
    text-align: left;
  }
}

.user_email {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  input[type=text]:focus + label {
    color: $sub;
  }
  input[type=text]:focus {
    border-bottom: 1px solid $sub;
    box-shadow: 0 1px 0 0 $sub;
  }
}

.user_descirption {
  padding-top: 20px;
  width: 500px;
  margin: 0 auto;
}
.submit-btn {
  text-align: center;
  margin-top: 30px;
  a {
    background-color: $sub;
    input {
      font-family: "ヒラギノ丸ゴ ProN",sans-serif;
      color: $background;
      font-weight: bold;
    }
  }
}