/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */
  @import 'materialize';
  $main: #454C50;
  $sub: #6E777C;
  $last: #D7E6EF;
  $text: #677284;

  $background: #F0F3F7;

  .nav-wrapper {
    background-color: $main;
    .brand-logo {
      margin-left: 100px;
    }
    .right-logo {
      margin-right: 100px;
    }
  }
  .foot {
    background-color: $sub;
    height: 100px;
    width: 100%;
  }
  .btn:hover {
    background-color: $sub
  }
  .btn:active{
    background-color: $sub;
  }
  .btn:focus{
    background-color: $sub;
  }



  .head_user_image {
    img {
      border-radius: 50%;
      margin-top: 10px;
      margin-right: 10px;
    }
    list-style: none;
  }


// ここからメインページ  
  .top-image {
    margin: 0 auto;
    text-align: center;
    h4 {
      font-family: "ヒラギノ角ゴ StdN",sans-serif;
      text-align: center;
      margin-top: 100px;
    }
    p {
      font-weight: bold;
      color: $text;
    }
    a {
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: $main;
      font-family: "ヒラギノ丸ゴ ProN",sans-serif;
    }
  }
  // グレーのゾーン
  .homepage {
    background-color: $background;
    width: 100%;
    height: 1050px;
    margin: 0 auto;
    text-align: center;
    .favorite-text {
      font-family: "ヒラギノ角ゴ StdN",sans-serif;
      font-size: 25px;
      padding-top: 40px;
    }
    .recommen_card {
      width: 500px;
      margin: 0 auto;
      img {
        padding-top: 20px;
        width: 400px;
      }
    }
    .new-text {
      font-family: "ヒラギノ角ゴ StdN",sans-serif;
      font-size: 25px;
      padding-top: 100px;
    }

    .new-card {
      width: 700px;
      margin: 0 auto;
      p {
        text-align: left;
      }
      span {
        text-align: left;
      }
      .icon-image {
        padding: 10px;
      }
    }
    .user_image {
      img {
        border-radius: 50%;
        margin-top: 10px;
        
      }
      list-style: none;
    }
  }   


// レコメン作成ページ
  .new-page {
    text-align: center;
    p {
      font-family: "ヒラギノ角ゴ StdN",sans-serif;
      font-size: 25px;
      padding-top: 40px;
    }

    .title-area {
      width: 70%;
      height: 50px;
      margin: 0 auto;

      input[type=text]:focus + label {
        color: $sub;
      }
      input[type=text]:focus {
        border-bottom: 1px solid $sub;
        box-shadow: 0 1px 0 0 $sub;
      }
    }
    .new-image {
      margin-top: 50px;
      input {
        margin-top: 20px;
        color: #9E9E9E;
      }
    }
    label {
      font-size: 15px;
    }
  }

  .content-back {
    margin-top: 50px;
    background-color: $background;
    height: 1050px;
    .content-field {
      text-align: center;
      margin: 0 auto;
      max-width: 50%;
      padding-top: 50px;
      textarea {
        height: 500px;
        font-size: 20px;
      }
    }
    label {
      font-size: 15px;
    }
    .submit-btn {
      text-align: center;
      margin-top: 50px;
      a {
        background-color: $sub;
        input {
          font-family: "ヒラギノ丸ゴ ProN",sans-serif;
          color: $background;
        }
      }
    }
  }

  #img_field {
    margin: 0 auto;
    padding-top: 20xp;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px 8px;
    border: solid 1px $sub;
    color: #666;
    position: relative;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.3s ease-out;
  }
  #img_field:hover {
    background-color: $background;
    transition: 0.3s ease-out;
    opacity: 0.9;
  }
  #img_field:hover i {
    transition: 0.3s ease-out;
    display: block;
    color: #fff;
  }